<h1>Web Storage Demo</h1>

<button (click)="doAlerts()">Toggle 'Alerts' Component</button>
<button (click)="doCustomers()">Toggle 'Customers' Component</button>

<hr>

<button (click)="doDropDb('Alerts')"> Drop Alerts</button>
<button (click)="doDropDb('Customers')"> Drop Customers</button>

<!--<input type="text" [(ngModel)]="dropDbName" />
<button (click)="doDropDb(dropDbName)">Drop</button>-->

<hr>

<alerts *ngIf="alerts"></alerts>

<customers *ngIf="customers"></customers>

<div>
    <ul>
        <li *ngFor="let e of events">
            {{e | json}}
        </li>
    </ul>
</div>